<h1>CD Repository</h1>

@if (Model.Count == 0)
{
  <p>There are no CDs in the database</p>
}
else
{
  <ul>
    @foreach (var cd in Model)
    {
      <li><a href="/CD/@cd.GetID()">@cd.GetAlbumTitle()</a></li>
    }
  </ul>
}
<br>
<a href="/CD/new">Add new CD to Collection</a><br>
<p><a href="/CD/search">Search for CDs by artist</a></p>
