<h1>Add new CD</h1>

<form action="/" method="post">
  <label for="artist-name">Artist Name</label>
  <input type="text" name="artist-name" placeholder="Artist Name">
  <label for="album-title">Album Title</label>
  <input type="text" name="album-title" placeholder="Album Title">
  <button type="submit">Add to Collection</button>
</form>
<br>
<a href="/">Return to Collection</a>
