<h1>Search your favorite artist</h1>
<form action="/CD/search_results" method="post">
  <label for="artist-name">Artist Name</label>
  <input type="text" name="artist-name" placeholder="Artist Name">
  <button type="submit">Search</button>
</form>
<br>
<p>Back to <a href="/">homepage</a><p>
